<%-include("partials/header") -%>

<div class="container1">
<img class="background2" src="/images/crowd.jpg" alt="crowd image"/>
<h2 class="title2">Muncitori India  și Nepal
Forța de muncă din India – o alternativă pentru multe afaceri care se confruntă cu lipsa de personal.</h2>
<a class="btn btn-success btn-lg" href="/contact" role="button">Vreau Muncitori Asia</a>
</div>
<div class="container2">

<div class="constructii">
  <h2>Recrutare personal Asia Construcții</h2>
  <p>Domeniul construcțiilor este foarte vast, iar forța de muncă este mereu bine-venită. Muncitorii nepalezi în construcții reprezintă o investiție bună pentru companiile românești.</p>
  <p>Poate îți dorești zidari asiatici sau fierar-betoniști. Sudori din Asia sau muncă necalificată. Agenția noastră recrutează ce aveți nevoie. Și pe baza probelor de lucru „live” sau înregistrate, selectați exact ce vi se potrivește. Și noi îi aducem la dumneavoastră.</p>
</div>
<hr>
<div class="horeca">
  <h2>Recrutare personal HoReCa Asia</h2>
  <p>Foarte multe afaceri românești au apelat în ultimii ani la noi pentru: bucătar asiatic, ajutor de bucătar, barmani asiatici sau ospătari din Asia. Poate ai un restaurant care încă are nevoie de personal. Sau vrei să te extinzi către bucătăria specific asiatică. Iată câteva motive și exemple filmate (vezi clipuri video) pentru care merită să lucrezi cu App Recrutare.</p>
</div>
<hr>
<div class="agricultura">
  <h2>Recrutare personal asiatic în Agricultură</h2>
<p>Economia Nepalului se bazează într-o proporție de 80% pe agricultură. Alte țări asiatice se bazează pe creșterea animalelor. De aceea nu va fi greu să recrutăm pentru tine culegători asiatici, tractoriști asiatici sau îngrijitori de animale. Muncitorii agricoli din Asia au o vastă experiență în domeniu, fiind sârguincioși și obișnuiți cu muncile câmpului. </p>
</div>
<hr>
<div class="productie">
  <h2>Recrutare personal Asia Productie</h2>
  <p>Muncitorii asiatici pentru fabricile din România sunt potriviți pentru multe din cerințele angajatorilor: sunt harnici și vin pentru minim 2 ani. Se adaptează repede la cultură și învață limba română. Și se pretează ușor la sarcini repetitive care necesită răbdare și îndemânare.</p>
</div>
<hr>
<div class="curatenie">
  <h2>Recrutare personal Asia Curățenie/Menaj</h2>
  <p>Dacă ai nevoie de personal curățenie asiatic pentru domeniul hotelier sau comercial, International Work Finder vine cu soluții concrete și suport în selectarea celor mai bune persoane. Sau poate ai o afacere în domeniul menajului sau curățeniei. Apelează la muncitorii asiatici recrutați de noi.</p>
</div>
<hr>
<div class="reciclare">
  <h2>Recrutare personal Asia Reciclare</h2>
  <p>Muncitorii din Nepal sau India sunt o opțiune potrivită, fiind instruiți pentru sarcinile ce le sunt desemnate privind gestionarea, sortarea și reciclarea deșeurilor. De asemenea sunt harnici, dispuși la ore suplimentare dacă este necesar sau efort fizic prelungit.</p>
</div>

</div>
<div class="button2">

<a class="btn2 btn-success btn-lg" href="/contact" role="button">Solicită oferta</a>
</div>

<%- include("partials/footer") -%>
